<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!--The connection is : mongodb://localhost:27017 , and right after that I wrote the database name
		If the database dosen't exists it will create it during the applicatuin load-->
		<add name="DatabaseConnection" connectionString="mongodb://localhost:27017/TeamsPlayersContracts" />
	</connectionStrings>

	<appSettings>
		<add key = "pathForBackUp" value="C:\MongoDBTools\mongodb-database-tools-windows-x86_64-100.7.0\mongodb-database-tools-windows-x86_64-100.7.0\bin"/>
		<add key = "pathForBackUpLocation" value="mongodump --db TeamsPlayersContracts --out C:\MongoDBTools\backUpDatabase"/>
		<add key = "pathForRestore" value="C:\MongoDBTools\mongodb-database-tools-windows-x86_64-100.7.0\mongodb-database-tools-windows-x86_64-100.7.0\bin"/>
		<add key = "pathForRestoreLocation" value="mongorestore --db TeamsPlayersContracts C:\MongoDBTools\backUpDatabase\TeamsPlayersContracts"/>
	</appSettings>


	<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>